.nav-brand{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 600;
    -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    
}
@-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  

.nav-items{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.nav-item{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin:5px;
    font-size: large;
    color: #273444;
}
.nav-item:hover{
    color: red;
}
/* Hero */
.hero{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
 @media (max-width: 800px) {
    .nav-items{
        display: none;
    }
} 
.hero-item{
    margin: 10px;
    text-align:center;
    min-width:45vw;
    padding-left: 30px;
    align-self: center;
    min-height: 45vh;
}
.hero-img{
    align-items: center;
    height:250px;
    width: 200px;
    margin: auto auto;
}
.hero-img:hover{
    align-items: center;
    height:300px;
    width: 250px;
    margin: auto auto;
    padding: 20px;
    
}
#hero-button{
    width: 100px;
    margin-top: 10px;
    background-color: #273444;
    color: #ffffff;
}
#himg{
    margin: auto auto;
}
.hero-text{
    margin: auto auto;
}
.hero-separator{
    border-top: 3px solid ;
    border-radius: 5px;
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    
    }
    
/* Footer */
.footer{
    display:flex;
    flex-direction: row;
    background-color: #5b6775;
    margin-top: 20px;
    
    
}
@media (max-width: 800px) {
    .footer{
        display: none;
    }
}
.footer-items{
margin: auto;
color: rgb(255, 255, 255);
text-align: left;
}
.footer-items:first-child{
    width: 300px;

}
.footer-logo{
    height: 30px;
    width: 25px;
   
}
.footer-text{
    text-align: center;
}
/* Whatwedo */
.Wmain{
    margin:30px;
}
.Wcards{
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content:space-around;
    align-items: flex-start;

    

}
@media (max-width: 800px) {
    .Wcards{
        display: flex;
        flex-direction: column;
    }
}
.Wc-items{
    
    align-items: flex-start;
    border-radius: 2%;
    min-height: 50vh;
    padding: 20 px;
    margin: auto;
    text-align: center;
    justify-content: center;

}
.ci{
    margin: 10px 20px 20px 20px;
    border: solid 1px;
    min-height: 50vh;
    padding: 10px;
    max-width: 300px;
    box-shadow: 10px 10px 10px grey;
    
}
.cphoto{
    width: 250px;
    height: 200px;
    
}
