.nav-brand{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 600;
    
}
.nav-items{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.hero{
    min-height: 90vh;
    background-color: #DFEFF9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.hero-item{
    margin: 10px;
    text-align:center;
    color: white;
    /* padding-top: 20px; */
    min-width:50vw;
}
.hero-img{
    align-items: center;
    height:550px;
    width: 400px;
    margin: auto auto;
}
#hero-button{
    width: 100px;
}
#himg{
    margin: auto auto;
}
.hero-text{
    margin: auto auto;
}
